.hsidebar-content {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  font-size: 14px;
  max-width: 90%;
}

.list-title {
  font-size: 18px;
  margin-bottom: 15px;
}

.search_area {
  position: relative;
  margin-bottom: 20px;
}

.search_area input[type="text"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search_area label {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.radio-element {
  margin-bottom: 20px;
}

.checkbox-style1 label {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.5;
  user-select: none;
}

.checkbox-style1 input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkbox-style1 .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 3px;
}

.checkbox-style1 label:hover input[type="checkbox"] ~ .checkmark {
  background-color: #f9f9f9;
}

.checkbox-style1 input[type="checkbox"]:checked ~ .checkmark {
  background-color: #041e42;
  border-color: #041e42;
  color: white;
}

.checkbox-style1 .checkmark:after {
  position: absolute;
  display: none;
}

.checkbox-style1 input[type="checkbox"]:checked ~ .checkmark:after {
  display: block;
}

.checkbox-style1 .checkmark:after {
  left: 5px;
  top: 1px;
  width: 4px;
  height: 8px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.range-slider-style2 {
  margin-bottom: 20px;
}

.range-wrapper {
  margin-bottom: 15px;
}


.d-flex {
  display: flex;
}

.selection {
  margin-right: 10px;
  background-color: #ffffff;
  border: 2px solid transparent;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 13px;
  outline: 1px solid #dddddd;
  padding: 7px 12px;
}

.selection label {
  margin-left: 5px;
}

.selection input[type="radio"] {
  appearance: none;
}

.btn-area {
  margin-top: 20px;
}

.ud-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #eb6753;
  color: #fff;
  border-radius: 5px;
  font-size: 14px;
  line-height: 1;
  cursor: pointer;
}

.ud-btn:hover {
  background-color: #eb6753c5;
}

.reset-area {
  margin-top: 20px;
}

.reset-button {
  display: inline-block;
  color: #999;
  text-decoration: none;
  font-size: 14px;
  line-height: 1;
  transition: color 0.3s ease;
}

.reset-button:hover {
  color: #666;
}

.reset-button u {
  margin-left: 5px;
}
.requestedSpan{
  padding: 5px;
  color: darkred;
  border: 1px solid darkred;
  border-radius: 10px;
}

.updateBtn{
  margin-top: -30px;
  margin-left: 55px;
}

.details{
  font-size: 16px;
  font-weight: 300;
  margin-left: -1px;
}
@media (max-width: 1000px) {
  .hsidebar-content {
    min-width: 300% ;
  }
}