.chat-page {
    padding-top: 20px;
    background-color: rgba(211, 211, 211, 0.149);
  }
  
  
  .user-list {
    height: 100%;
    /*overflow-y: scroll;*/
    background-color: white;
    height: 500px;
    border-radius: 50px;
    padding-top: 40px;
    margin-bottom: 100px;
  }

  .messageItem:hover {
    background-color: rgba(211, 211, 211, 0.149);
  }

  
  .chatCol{
    background-color: white;
    height: 500px;
    padding: 20px;
    border-radius: 50px;
    overflow-y: scroll;    
    scroll-margin-bottom: 1000px;
  }
  .chatCol::-webkit-scrollbar {
    width: 8px;
  }
  
  .chatCol::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  
  .chatCol::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px; 
  }
  
  .chatCol::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  
  .user-list .list-group-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    border: none;
  }
  
  .user-list .list-group-item img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }

  
  .user-info {
    display: flex;
    flex-direction: column;
  }
  
  /* Customer message */
.customerSender {
    background-color: rgba(36, 152, 152, 0.045);
    border-radius: 8px;
    padding: 15px;
    margin-right: 20px;
    margin-top: 10px;
    width: 70%;
  }
  
  /* Employee message */
  .empSender {
    background-color: rgba(235, 103, 83, 0.077);
    border-radius: 8px;
    padding: 15px;
    margin-left: 30%;
    margin-top: 10px;
    width: 70%;
}
.chat-screen {
  position: relative;
}

.message-input {
  position: sticky;
  bottom: 0;
  width: 100%;
  background-color: white;
  left: 10%;
  padding: 5px;
}