.cardd{
  width: 313px;
  margin-left: 19px;
  margin-top: 19px;
  text-align: center;
  border-radius: 4px;
  
  background: #fff;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 80px 80px 18px 36px;
  cursor: pointer;
}

.cardd:hover{
   transform: scale(1.05);
box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.cardd h3{
font-weight: 600;
}

.cardd img{
position: absolute;
top: 20px;
right: 15px;
max-height: 120px;
}
.cardd-3{
  background-image: url(https://ionicframework.com/img/getting-started/components-card.png);
     background-repeat: no-repeat;
   background-position: right;
   background-size: 80px;
}
/* 
@media(max-width: 990px){
 .card{
   margin: 20px;
 }
}  */
.best {
    width: 100%;
    margin: -4rem 0;
    text-align: center;
    background-color: #f7f7f7;
}
h1{
    padding-top: 5rem;
    padding-bottom: 3rem;
}

.best > div {
    display: flex;
    justify-content: center;
}

.best > div p {
    margin: 1rem 2rem;
    font-size: .8rem;
}

.bold {
    font-weight: 700;
}

 .best .btn{
    background-color: #EB6753;
    color: #f7f7f7;
    margin-bottom: 10px;
}

.bestPropContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .property {
    margin: 20px;
    background-color: #ffff;
  }
  
  .property img {
    width: 300px;
    height: auto;
  }
  
  .property-details {
    text-align: center;
    margin-top: 10px;
  }
  
  .property-details h3 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .property-details p {
    font-size: 16px;
  }

@media screen and (max-width:940px) {
    .best {
        margin: 1rem 0;
    }

    .best > div p {
        margin: 1rem;
        font-size: 1rem;
    }

    .best .container {
        grid-template-columns: 1fr;
        grid-gap: .5rem;
    }
}

@media screen and (max-width: 478px) {
    .best > div p {
        margin: 1rem .5rem;
    }
}



