.roleIcon {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-right: 15px;
    font-size: 18px;
    color: white;
    padding: 7px;
    width: 50px;
    box-shadow: rgba(0, 0, 0, 0.54) -2px 3px 6px;
  }

  .deleteRole{
    background-color: #DC3545;
    border-radius: 4px;
  }

  .deleteRole:hover{
    background-color: #dc3546d0;
  }

  .updateRole{
    background-color: #007BFF;
    border-radius: 4px;
  }

  .updateRole:hover{
    background-color: #007bffc4;
  }
  
  .roleIcon:focus {
    outline: none;
  }